/*
*  Flip animation by David Walsh: https://davidwalsh.name/css-flip
*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    cursor: pointer;
}

/* flip the pane when hovered */
.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

::ng-deep .flipper[markdown] {
    .front, .back {
        width: 90vw;
        height: 40vh;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1efed;
        backface-visibility: hidden;
        -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
        -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
        box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
        border: 1px solid #c5bbb1;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    /* front pane, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }

    .back-text {
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.0125em;
        text-align: center;
    }
    .front-text {
        padding: 10px;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.0125em;
    }
}

.flip-container, .front, .back {
    width: 90vw;
    height: 40vh;
    margin: 20px auto;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1efed;
    backface-visibility: hidden;
    -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
    -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
    box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
    border: 1px solid #c5bbb1;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.back-text {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-align: center;
}
.front-text {
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.0125em;
}
