<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Swirl
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Swirl</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <flashcard>
      <div class="flashcard-front">Swirl</div>
      <div class="flashcard-back">
        Something With Information Research Literacy
      </div>
    </flashcard>
    <p>See an example of Swirl in action with out <a target="_blank" rel="noopener noreferrer" href="#">Evaluating Sources</a> unit.</p>
  </div>
</ion-content>
